source https://api.nuget.org/v3/index.json
source https://nuget.pkg.github.com/TG-OpenTTD/index.json

nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Extensions.DependencyInjection 
nuget Microsoft.Extensions.Hosting

nuget Akka.FSharp
nuget FSharpx.Collections
nuget FSharp.OpenTTD.Admin
